In [2]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
import pandas as pd

In [3]:
data=pd.read_csv('car data.csv')

In [9]:
data.head()

   speed  car_age  experience  risk
0    172       22    8.104042    42
1     94       17   11.429461    36
2    186       20   14.819477    45
3    151       10   15.343897    38
4    100        6   16.455807    47

In [5]:
reg=linear_model.LinearRegression()

# Now consider multiple variable speed, car_age and experience as x1, x2, x3

In [21]:
#x1=data[['speed']] # always use double third braces
#x1.head()

In [22]:
#x2=data[['car_age']]
#x2.head()

In [15]:
#x3=data[['experience']]

In [23]:
#x3.head()

In [17]:
#y=data[['risk']]

In [24]:
#y.head()

# now fit the model

In [25]:
reg.fit(data[['speed','car_age','experience']], data.risk)

LinearRegression()

In [32]:
reg.predict([[160,10,5]]) #always have to use double third braces

/home/shipu/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([54.99630343])

In [30]:
data[['predicted_values']].head()

   predicted_values
0         52.028252
1         54.182404
2         50.016092
3         52.375984
4         54.187339

In [28]:
data['predicted_values']=reg.predict(data[['speed','car_age','experience']])

In [31]:
data.head()

   speed  car_age  experience  risk  predicted_values
0    172       22    8.104042    42         52.028252
1     94       17   11.429461    36         54.182404
2    186       20   14.819477    45         50.016092
3    151       10   15.343897    38         52.375984
4    100        6   16.455807    47         54.187339