In [7]:
import pandas as pd

In [8]:
data={'category':['A', 'B', 'C','A','C','D','B','A']}

In [9]:
df=pd.DataFrame(data)

In [10]:
df.head()

  category
0        A
1        B
2        C
3        A
4        C

In [11]:
one_hot_encoded=pd.get_dummies(df, columns=['category'])

In [13]:
one_hot_encoded

   category_A  category_B  category_C  category_D
0        True       False       False       False
1       False        True       False       False
2       False       False        True       False
3        True       False       False       False
4       False       False        True       False
5       False       False       False        True
6       False        True       False       False
7        True       False       False       False