In [8]:
import numpy as np
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
import pandas as pd

In [9]:
X,y=make_classification(n_samples=1000,n_features=20,n_classes=2 )

In [10]:
X

array([[ 0.13518707, -0.78496792,  1.49029979, ..., -0.16627301,
         0.32593843, -0.40634247],
       [ 1.48234532,  1.31362546, -0.0322562 , ...,  0.60625958,
         0.3855518 ,  1.26530186],
       [-0.15344895, -0.96495823, -0.76111176, ...,  1.69450068,
         0.45349986,  0.79624078],
       ...,
       [-0.6001645 ,  0.66373694, -1.52730929, ...,  0.44756676,
        -0.63465526, -0.68125186],
       [-0.81422306, -0.42042596,  0.57022623, ...,  0.44973179,
        -0.3065751 , -1.85491889],
       [-2.06107384,  0.02083041, -0.12751101, ...,  0.30806146,
         0.13092013, -1.84714708]])

In [11]:
pd.DataFrame(X).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.135187,-0.784968,1.490300,1.067455,0.071555,1.341114,0.664497,0.733499,-0.705646,-0.279239,-1.574319,2.034827,0.848453,-1.360707,-0.343739,-1.650664,0.645278,-0.166273,0.325938,-0.406342
1,1.482345,1.313625,-0.032256,0.383068,-1.034471,0.657207,1.095816,1.173902,-1.062394,1.458023,0.128999,1.435934,2.602780,-0.507863,0.850687,-1.940128,0.003134,0.606260,0.385552,1.265302
2,-0.153449,-0.964958,-0.761112,-0.355923,1.067045,1.316566,1.253957,1.346203,-0.193534,1.294857,-0.322041,1.798651,-0.269548,-1.080249,0.221302,-0.836472,1.796099,1.694501,0.453500,0.796241
3,-0.182513,0.987438,-1.317567,1.051662,-0.649912,-0.352391,-1.859267,-1.956981,1.408092,-1.198133,-0.186688,-0.566715,-0.960567,0.149152,1.899251,1.050426,0.923225,-1.032491,-0.506176,1.092675
4,-1.386480,0.907117,-0.249991,0.540652,0.027493,-0.518884,-0.509413,-0.555902,-0.073805,-0.056362,-0.561034,-1.215373,0.058608,1.093602,-1.459846,0.034386,-0.333512,0.008149,-0.222596,1.520187

In [12]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=.30, random_state=2)

In [13]:
X_train.shape

(700, 20)

In [14]:
X_test.shape

(300, 20)

In [16]:
y_train.shape

(700,)

In [17]:
y_test.shape

(300,)